body {
    font-family: Roboto, Arial;
    background-color: rgb(218, 218, 218);
    margin: 0;
}

button {
    font-size: 32px;
}

.head-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 182, 255);
    border-radius: 8px;
    margin-top: 0;
    flex: 1 1 0%;
}

h1 {
    color: white;
    font-size: 62px;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.choose-size {
    text-align: center;
    margin: 5px 0px 5px 0px;
    color: rgb(255, 255, 255);
}

.size-btn {
    border: none;
    background-color: aliceblue;
    color: rgb(45, 182, 255);
    border-radius: 6px;
}

.size-btn:hover {
    background-color: rgb(255, 255, 255);
}

.size-btn:disabled {
    background-color: rgba(240, 248, 255, 0.585);
}

.sizing-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 5px;
}

.main-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-btn {
    margin:10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: white;
    border-style: solid;
    border-width: 4px;
}


#black {
    background-color: black;
}

#black:hover {
    background-color: rgb(30, 30, 30);
}

#red {
    background-color: red;
}

#red:hover {
    background-color: rgb(255, 61, 61);
}

#blue {
    background-color: blue;
}

#blue:hover {
    background-color: rgb(58, 58, 255);
}

#green {
    background-color: green;
}

#green:hover {
    background-color: rgb(0, 172, 0);
}
    

.sketch-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: white;
    width: 640px;
    height: 640px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container button {
    background-color: aquamarine;
    color: Black;
    margin:10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: white;
    border-style: solid;
    border-width: 4px;
}

.item {
    display: inline-block;
    margin: 0;
    background-color: white;
}

.item.grid16 {
    width: 40px;
    height: 40px;
}

.item.grid32 {
    width: 20px;
    height: 20px;
}

.item.grid64 {
    width: 10px;
    height: 10px;
}

.item:hover {
    background-color: black;
    cursor:crosshair;
}